<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /zipfoods
    RewriteRule ^zipfoods/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /zipfoods/index.html [L]
</IfModule>